# Owner
*             @Craftan/owner

# DevOps Team
.github/*     @Craftan/devops
deployment/*  @Craftan/devops

# Development Team
lib/*         @Craftan/development
src/*         @Craftan/development
