# Development
## Docker Compose
deployment/build/
## Environment Variables
.env
## Gradle
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
!gradle/wrapper/gradle-wrapper.jar
local.properties
## IDE
.vscode/
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/libraries/
.idea/modules.xml
*.iml
*.ipr
*.iws
## Taskfile Cache
.task/

# Operating System
## MacOS
.DS_Store
