# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
local.properties

# Environment
.env

# IntelliJ IDEA
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/libraries/
.idea/modules.xml
*.iml
*.ipr
*.iws
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/.nb-gradle/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/

# VS Code
.vscode/

# Mac OS
.DS_Store
